
.body {
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;


}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.row .hide {
    display: none; }

.row {
  margin-left: 0px;
  margin-right: 0px;
  justify-content: center; }
.row .card-deck {
  justify-content: space-between; }
.row .card-deck a {
  color: inherit;
  text-decoration: none; }
.row .card-deck .card {
  margin-left: 10px;
  margin-right: 10px;
  min-width: 250px;
  max-width: 250px; }
  @media only screen and (max-width: 767px) {
.row .card-deck .card {
  margin-left: 0px;
  margin-right: 0px; } }
.row .card-footer{
  background-color: inherit;
  text-align: center;
  padding-bottom: 0px;
}
.row .btn{
  background-color: #fccf00;
  border-color: inherit;
}
.row .btn:hover{
  background-color: #c7a81a;
  border-color: inherit;
}
.productPage .productView{
  text-align: center;
}
.productPage .image{
  float: left;
  margin-left: 10%;
}
.productPage .card-body{

  text-align: center;
  display: inline-block;
  background-color: #1fe0;
}
@media only screen and (max-width: 500px) {
    .productPage .image {
      padding: 10px 1rem;
      align-items: center;} }

  @media only screen and (min-width: 500px) {
    .productPage .image {
      width: 20rem;
      align-items: center;} }
  @media only screen and (min-width: 991px) {
    .productPage .image {
      width: 350;
      height: auto;
      align-items: center; } }
.productPage .card-footer{
  margin-top:20px;
}
